
body {
    font-family: "PT Sans", "Helvetica Neue", sans-serif;
}

/* line 17, all.css.scss */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* line 23, all.css.scss */
p {
    margin: 0;
}

a {
    color: #25408f;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #1b75bc;
    text-decoration: underline;
}

.emerge {
    opacity: 0;
}

@media screen and (max-width: 800px) {
    body {
        margin: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    body {
        margin: 0 15px;
    }
}