.header {
    top: 0;
    text-align: center;
}
.header--title {
    font-size: 1.1em;
}

.header--logo {
    display: block;
    color: #000!important;
    text-decoration: none!important;
}
.header--logo img {
    margin: 0 auto 5px;
    display: block;
}

.header--langs {
    margin-top: .5em;
    font-size: 0.9em;
}

a.lang-btn {
    margin-right: 5px;
    text-decoration: none;
    border-bottom: 1px dashed rgb(122, 0, 255);
}
a.lang-btn:hover {
    text-decoration: none;
    border-bottom-style: solid;
}
a.lang-btn.active  {
    color: #000000;
    cursor: default;
    font-weight: bold;
    border: none;
}

@media screen and (max-width: 800px) {
    .header {
        text-align: left;
        overflow: hidden;
        margin: 1em 0 0 0;
        font-size: .9em;
    }
    .header--logo {
        font-size: 1.5em;
    }
    .header--logo img {
        float: left;
        width: 100px;
        height: auto;
        margin-right: 1em;
    }
}