main {
    padding: 0 30px 30px 200px;
}

.object-list {
    vertical-align: top;
    margin-right: -22px;
    font-size: 0;
}

.object-list--item {
    display: inline-block;
    vertical-align: top;
}

.object-item {
    width: 256px;
    margin: 22px 22px 0 0;
    text-align: center;
    font-size: 14px;
}

.object-item--link {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.object-item--image {
    width: 256px;
    max-width: 256px;
    background-color: #f9f9f9;
}

.object-item--title {
    margin:10px 0 3px;
    font-size: 1em;
    text-decoration: underline;
}
.object-item--address {
    font-size: 0.9em;
    line-height: 1;
    color: #808285;
    margin: 0;
}

.object-item--link:hover, .object-item--link:focus {
    text-decoration: none;
}

.object-item--link:hover .object-item--title {
    text-decoration: underline;
}

.object-item--developer:hover, .object-item--developer:focus {
    color: #808285;
}


@media screen and (max-width: 1024px) {
    main {
        padding-left: 180px;
    }
    /* line 300, all.css.scss */
    .object-item {
        width: 192px;
        font-size: 13px;
    }

    /* line 304, all.css.scss */
    .object-item--image {
        width: 192px;
        height: 192px;
    }
}

@media screen and (max-width: 800px) {
    main {
        padding-left: 0px;
        padding-right: 0px;
    }
    .object-list {
        margin-left: 0;
    }
}
@media screen and (max-width: 500px) {

    /* line 300, all.css.scss */
    .object-item {
        display: block;
        list-style-type: none;
        width: 128px;
        height: 180px;
        font-size: 12px;
    }

    /* line 304, all.css.scss */
    .object-item--image {
        width: 128px;
        height: 128px;
    }
}
