.header, .footer, .sidebar {
    width: 150px;
    padding-left: 20px;
    position: fixed;
    left: 0;
    font-size: 14px;
}


.aside-list {
    font-size: 0.9em;
    list-style-type: none;
    margin: 0 0 1.5em;
    padding: 0;
}

.aside-list li {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .aside-list {
        display: block;
        margin-bottom: .7em;
    }
    .aside-list li {
        display: inline;
        margin-right: .5em;
    }
}

@media screen and (max-width: 1024px) {
    .header, .footer, .sidebar {
        width: 130px;
        font-size: 13px;
    }


@media screen and (max-width: 800px) {
    .header, .footer, .sidebar {
        width: auto;
        position: static;
        padding: 0;
    }
}