.footer {
    bottom: 0;
    color: #999;
}

.footer--social {
    font-size: 0.9em!important;
    margin: 0 0 1.5em;
    padding: 0;
}

.footer--social .likely > div {
    margin-left: 0!important;
}

.footer p {
    font-size: 0.9em;
    margin: 0 0 1em;
}

@media screen and (max-width: 800px) {
    .footer {
        margin-top: 1em;
        padding-top: 1em;
        margin-bottom: 1em;
        padding-bottom: .3em;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}