* {
    font-size: 100%;
    font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
}

.dashboard {
    column-count: 1;
}

.language-marker {
    color:#777; font-size:0.9em; text-transform: uppercase;
}

.field.field-grid-item.field-with-icon.field-name-uid {
    display: none;
}

.field.field-grid-item.field-with-icon.field-name-title .field-help {
    display: none;
}